USE [master]
GO
/****** Object:  Database [CSE 4005 Prabath]    Script Date: 4/11/2025 1:35:30 AM ******/
CREATE DATABASE [CSE 4005 Prabath]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CSE 4005 Prabath', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CSE 4005 Prabath.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CSE 4005 Prabath_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\CSE 4005 Prabath_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CSE 4005 Prabath].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CSE 4005 Prabath]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 4/11/2025 1:35:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[PhoneNo] [varchar](10) NULL,
	[NIC] [varchar](12) NULL,
	[VehicleNo] [varchar](50) NULL,
	[VehicleTypeID] [int] NULL,
	[VehicleColourID] [int] NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[RiderID] [int] NULL,
	[PaymentTypeID] [int] NULL,
	[Amount] [decimal](18, 2) NULL,
	[PDate] [date] NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PaymentTypes]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PaymentTypes](
	[PaymentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PaymentType] [varchar](50) NULL,
 CONSTRAINT [PK_PaymentTypes] PRIMARY KEY CLUSTERED 
(
	[PaymentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[RiderID] [int] NULL,
	[SRating] [int] NULL,
	[RDes] [varchar](50) NULL,
	[RName] [varchar](50) NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ride]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ride](
	[RiderID] [int] IDENTITY(1,1) NOT NULL,
	[DriverID] [int] NULL,
	[UserID] [int] NULL,
	[Date] [date] NULL,
	[PickupLocation] [varchar](50) NULL,
	[DropoffLocation] [varchar](50) NULL,
 CONSTRAINT [PK_Ride] PRIMARY KEY CLUSTERED 
(
	[RiderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UName] [varchar](50) NULL,
	[PhoneNum] [varchar](50) NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[AddressLineOne] [varchar](50) NULL,
	[AddressLineTwo] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleColour]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleColour](
	[VehicleColourID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleColour] [varchar](50) NULL,
 CONSTRAINT [PK_VehicleColour] PRIMARY KEY CLUSTERED 
(
	[VehicleColourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VehicleType]    Script Date: 4/11/2025 1:35:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VehicleType](
	[VehicleTypeID] [int] IDENTITY(1,1) NOT NULL,
	[VehicleType] [varchar](50) NULL,
 CONSTRAINT [PK_VehicleType] PRIMARY KEY CLUSTERED 
(
	[VehicleTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Driver] ON 

INSERT [dbo].[Driver] ([DriverID], [Name], [PhoneNo], [NIC], [VehicleNo], [VehicleTypeID], [VehicleColourID]) VALUES (1, N'Perera', N'0771234567', N'1997366372', N'568GR', 2, 1)
INSERT [dbo].[Driver] ([DriverID], [Name], [PhoneNo], [NIC], [VehicleNo], [VehicleTypeID], [VehicleColourID]) VALUES (2, N'Joseph', N'0762525252', N'1982626626', N'626GJ', 5, 4)
INSERT [dbo].[Driver] ([DriverID], [Name], [PhoneNo], [NIC], [VehicleNo], [VehicleTypeID], [VehicleColourID]) VALUES (3, N'William', N'0776632662', N'1974883889', N'121BW', 3, 2)
SET IDENTITY_INSERT [dbo].[Driver] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([PaymentID], [RiderID], [PaymentTypeID], [Amount], [PDate]) VALUES (1, 1, 3, CAST(12434.00 AS Decimal(18, 2)), CAST(N'2025-01-11' AS Date))
INSERT [dbo].[Payment] ([PaymentID], [RiderID], [PaymentTypeID], [Amount], [PDate]) VALUES (2, 2, 2, CAST(41321.00 AS Decimal(18, 2)), CAST(N'2025-01-04' AS Date))
INSERT [dbo].[Payment] ([PaymentID], [RiderID], [PaymentTypeID], [Amount], [PDate]) VALUES (3, 3, 4, CAST(23723.00 AS Decimal(18, 2)), CAST(N'2025-01-19' AS Date))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[PaymentTypes] ON 

INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentType]) VALUES (1, N'Cash')
INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentType]) VALUES (2, N'Credit Card')
INSERT [dbo].[PaymentTypes] ([PaymentTypeID], [PaymentType]) VALUES (3, N'Debit Card')
SET IDENTITY_INSERT [dbo].[PaymentTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[Review] ON 

INSERT [dbo].[Review] ([ReviewID], [RiderID], [SRating], [RDes], [RName]) VALUES (1, 1, 3, N'Average', N'Victor')
INSERT [dbo].[Review] ([ReviewID], [RiderID], [SRating], [RDes], [RName]) VALUES (2, 2, 3, N'Average', N'Henry')
INSERT [dbo].[Review] ([ReviewID], [RiderID], [SRating], [RDes], [RName]) VALUES (3, 3, 1, N'Very Poor', N'Sam')
SET IDENTITY_INSERT [dbo].[Review] OFF
GO
SET IDENTITY_INSERT [dbo].[Ride] ON 

INSERT [dbo].[Ride] ([RiderID], [DriverID], [UserID], [Date], [PickupLocation], [DropoffLocation]) VALUES (1, 1, 3, CAST(N'2024-09-12' AS Date), N'Matara', N'Colombo')
INSERT [dbo].[Ride] ([RiderID], [DriverID], [UserID], [Date], [PickupLocation], [DropoffLocation]) VALUES (2, 2, 2, CAST(N'2024-09-18' AS Date), N'Kaluthara', N'Negombo')
INSERT [dbo].[Ride] ([RiderID], [DriverID], [UserID], [Date], [PickupLocation], [DropoffLocation]) VALUES (3, 6, 1, CAST(N'2024-09-19' AS Date), N'Ja-Ela', N'Galle')
SET IDENTITY_INSERT [dbo].[Ride] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UName], [PhoneNum], [Username], [Password], [AddressLineOne], [AddressLineTwo]) VALUES (1, N'Prabath', N'0746622721', N'sjajxjxn', N'32e7yhwuh', N'5th lane', N'Kandana')
INSERT [dbo].[User] ([UserID], [UName], [PhoneNum], [Username], [Password], [AddressLineOne], [AddressLineTwo]) VALUES (2, N'Dulan', N'0746728282', N'csdcsd', N'3e23d2dqw', N'1st lane', N'Panadura')
INSERT [dbo].[User] ([UserID], [UName], [PhoneNum], [Username], [Password], [AddressLineOne], [AddressLineTwo]) VALUES (3, N'Lahiru', N'0782288128', N'dcscsd', N'23dd23d23', N'long road', N'Wellawatta')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleColour] ON 

INSERT [dbo].[VehicleColour] ([VehicleColourID], [VehicleColour]) VALUES (1, N'White')
INSERT [dbo].[VehicleColour] ([VehicleColourID], [VehicleColour]) VALUES (2, N'Red')
INSERT [dbo].[VehicleColour] ([VehicleColourID], [VehicleColour]) VALUES (3, N'Black')
SET IDENTITY_INSERT [dbo].[VehicleColour] OFF
GO
SET IDENTITY_INSERT [dbo].[VehicleType] ON 

INSERT [dbo].[VehicleType] ([VehicleTypeID], [VehicleType]) VALUES (1, N'Car')
INSERT [dbo].[VehicleType] ([VehicleTypeID], [VehicleType]) VALUES (2, N'Van')
INSERT [dbo].[VehicleType] ([VehicleTypeID], [VehicleType]) VALUES (3, N'Bike')
SET IDENTITY_INSERT [dbo].[VehicleType] OFF
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_VehicleColour] FOREIGN KEY([VehicleColourID])
REFERENCES [dbo].[VehicleColour] ([VehicleColourID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_VehicleColour]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_VehicleType] FOREIGN KEY([VehicleTypeID])
REFERENCES [dbo].[VehicleType] ([VehicleTypeID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_VehicleType]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_PaymentTypes] FOREIGN KEY([PaymentTypeID])
REFERENCES [dbo].[PaymentTypes] ([PaymentTypeID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_PaymentTypes]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Ride1] FOREIGN KEY([RiderID])
REFERENCES [dbo].[Ride] ([RiderID])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Ride1]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Ride] FOREIGN KEY([RiderID])
REFERENCES [dbo].[Ride] ([RiderID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Ride]
GO
ALTER TABLE [dbo].[Ride]  WITH CHECK ADD  CONSTRAINT [FK_Ride_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([DriverID])
GO
ALTER TABLE [dbo].[Ride] CHECK CONSTRAINT [FK_Ride_Driver]
GO
ALTER TABLE [dbo].[Ride]  WITH CHECK ADD  CONSTRAINT [FK_Ride_User] FOREIGN KEY([UserID])
REFERENCES [dbo].[User] ([UserID])
GO
ALTER TABLE [dbo].[Ride] CHECK CONSTRAINT [FK_Ride_User]
GO
USE [master]
GO
